<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513057816224-57pvkcjvq7u381mjm1auus2gh8q3kn71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513057816224-57pvkcjvq7u381mjm1auus2gh8q3kn71</string>
	<key>API_KEY</key>
	<string>AIzaSyBKTVbFfPSq69UMcb4r9WTHt9xUEtEjmWE</string>
	<key>GCM_SENDER_ID</key>
	<string>513057816224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleTwitter</string>
	<key>PROJECT_ID</key>
	<string>simple-twitter-5e0ea</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-twitter-5e0ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513057816224:ios:8c1e25f36c4c3e88b893c5</string>
</dict>
</plist>